.el-tooltip__popper.is-light {
	background: #fff;
	border: 1px solid #ccc;
}

.el-tooltip__popper {
	position: absolute;
	border-radius: 4px;
	padding: 10px;
	z-index: 2000;
	font-size: 12px;
	line-height: 0.5;
}

.el-tooltip__popper[x-placement^=bottom] {
	margin-top: 8px;
}

.el-pagination .el-select .el-input .el-input__inner {
    padding-right: 25px;
    border-radius: 3px;
    height: 24px;
    /* margin-bottom: 3px; */
    margin-top: -2px;
}

.el-pager li {
    padding: 0 4px;
    font-size: 13px;
    min-width: 35.5px;
    height: 24px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center;
}

.el-pagination__editor.el-input .el-input__inner {
    height: 24px;
}

.el-pagination button, .el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 12px;
    min-width: 35.5px;
    height: 24px;
    line-height: 20px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.homePage .navigationMain .content-containers .content-wrappers {
    background-color: #fff;
    box-sizing: border-box;
    /* min-height: 100%; */
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
#app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}
#plumbCss .el-dialog__body {
    padding-top: 0px!important;
}
#plumbEditCss .el-dialog__body {
    padding-top: 0px!important;
}
/* 树节点选中高亮 */
.is-current{
	color:#000;
	font-weight:900;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
	background-color:#EBF3FC;
}
.el-tree-node{
	margin:10px 0;
}
.el-button--mini, .el-button--mini.is-round {
        padding: 3px 14px!important;
}
.el-submenu [class^=fa] {
	vertical-align: baseline;
	margin-right: 10px;
}
.el-menu-item [class^=fa] {
	vertical-align: baseline;
	margin-right: 10px;
}
.crumbtoolbar {
	background: #f2f2f2;
	padding: 10px;
	padding-top: 7.5px;
	font-size: 10px;
	height: 27px;
	margin: 0px;
	.el-form-item {
		margin-bottom: 10px;
	}
}
.crumbtoolbar .el-breadcrumb__inner, .el-breadcrumb__inner a {
	font-weight: normal;
	color: #4194E7;
}
.el-breadcrumb{
	font-size:10px !important;
	color: #4194E7;
}
.toolbar {
	background: #f2f2f2;
	padding: 10px;
	//border:1px solid #dfe6ec;
	margin: 10px 0px;
	.el-form-item {
		margin-bottom: 10px;
	}
}
.spacebetween {
	background: #eef1f5;
	height: 16px;
}
.toolbars {
	background: #f7fbfe;
	padding: 9.5px;
	height: 43px;
}
.savesButon {
	position: absolute;
	top: -29px;
	right: 47px;
	padding: 3px 8px !important;
}
.interval {
	padding-top: 20px;
	padding-bottom: 10px;
}
.nav_themes {
	background: #eef1f5;
	padding: 8px;
}
.addsearch {
	background: #ffffff;
	padding: 10px;
	min-height: 56px;
}
.search_head{
      /*height:43px;*/
      line-height:43px;
      padding-left:5px;
      padding-right:10px;
}
.pageturn {
	background: #ffffff;
	padding: 1px;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
    background-color: #4596e7;
}
.el-table td, .el-table th {
	height: 37px!important;
	padding: 0px!important;
	font-size: 10px;
    padding-right: 2px!important;
    border-right: 1px solid #ebeef5;
}
.el-table th {
    background-color: #3a5a89!important;
    border-right: 1px solid #2f466d;
}
.el-table--border th, .el-table__fixed-right-patch {
	border-bottom: 1px solid #2f466d;
}
.el-table th>.cell {
    color: #ffffff;
    background-color: #3a5a89;
}
.el-table .sort-caret.ascending {
	border-bottom: 5px solid #fff!important;
}
.el-table .sort-caret.descending {
	border-top: 5px solid #fff!important;
}
.el-table__column-filter-trigger i {
	color: #fff!important;
}
.el-table .cell, .el-table th>div {
	 padding-left: 10px!important;
	 padding-right: 0px!important;
	 font-size: 10px;
	 line-height: 22px;
}
.el-table td.is-center, .el-table th.is-center {
	text-align: left!important;
}
.el-pager li.active {
	 border-color: #4194e7!important;
	 background-color: #4194e7!important;
	 color:#fff;
}
.el-table th.is-leaf{
	border-bottom: none!important;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
	background: #F9F9F9!important;
}
.fade-enter-active,
.fade-leave-active {
	transition: all .2s ease;
}
.fade-enter,
.fade-leave-active {
	opacity: 0;
}

/* 弹框 */
.el-dialog__body{
	padding:0!important;
	padding-top:30px!important;
}
/* 弹框头部 */
.el-dialog__header {
	padding:0!important;
	height:38px;
	line-height:38px;
	background:#3E424A;

}
/* 弹框标题 */
.el-dialog__title{
	color:#FFF!important;
	padding-left:14px;
	font-weight:900;
	font-size:14px!important;
}
/* 弹框底部 */
.dialog_bottom{
	background:#F7F7F7;
	height:54px;
	line-height:54px;
	text-align:right;
	padding-right:17px;
	border-top:1px solid #eee;
}
.el-dialog__headerbtn{
	top:0!important;
}
/* 弹框关闭按钮 */
.el-dialog__headerbtn .el-dialog__close{
	color:#FFF!important;
	padding-right: 0;
    margin-right:-8px;
    font-size:14px!important;
	height:38px!important;
	font-weight:900;
	line-height:38px!important;
}
/* 表单label */
.el-form-item__label{
	font-size:12px!important;
	color:#333!important;
}
.el-submenu__icon-arrow{
	right:11px !important;
}


/* 解决表格中使用纯文本按钮样式问题 */
.el-table 	td .el-button--text {
	padding: 0;
	font-size: 12px;
}

/* 全局定义按钮样式 */
.gl-search-box .el-button {
	padding: 5px 14px!important
}

/* 解决表格嵌表格分隔线变粗现象 */
.el-table-nest {
	th,
	td {
		padding: 0!important;
	}

	.cell,
	th > div {
		padding-left: 10px;
		padding-right: 10px;
	}

	.table-box:not(.is-leaf) > .cell {
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.el-table {
		border: none;
		background: transparent!important;

		.el-table__body-wrapper {
			overflow: hidden;
		}

		table {
			width: 100%!important;
			border: none!important;

			tr {
				background: transparent!important;
			}

			tr:last-child td {
				border-bottom: none!important;
			}

			td {
				height: 37px!important;

				.el-button {
					padding: 0;
					font-size: 12px;
				}
			}

			th,
			td {
				border-left: none!important;
				border-right: none!important;
			}

			.el-table--border td,
			.el-table--border th {
				border-right: none;
			}

			.el-table td,
			.el-table th.is-leaf {
				border-bottom: none;
			}
		}

		.table-cell {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.cell {
			width: 100%!important;
		}

		.table-cell-item {
			overflow: hidden;
			padding: 0 10px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			word-break: keep-all;
		}

		.table-cell-item+.table-cell-item {
			border-top: 1px solid #dfe6ec;
		}

		&::before,
		&::after {
			display: none;
		}
	}
}
